*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
    flex-direction: row;
    gap: 26px;
    padding-top: 250px;
}

.button {
    background: #F5F5F5;
    width: 90px;
    height: 90px;
    border-radius: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px 0px #00000040, -4px -4px 4px 0px #FFFFFF;
    cursor: pointer;
}
.button:active {
    transform: scale(0.9);
}
.button img {
    transition: transform 0.8s ease;
}
.button.active img {
    transform: rotate(90deg);
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    background: #F5F5F5;
    width: 0px;
    height: 90px;
    overflow: hidden;
    border-radius: 62px;
    box-shadow: 4px 4px 4px 0px #00000040, -4px -4px 4px 0px #FFFFFF;
    box-sizing: border-box;
    color: #0000005C;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    transform-origin: left center;
    transition: width 0.4s ease, padding 0.3s ease;
}
.search.show {
    width: 483px;
    padding: 0 45px;
}

input {
    border: none;
}
input:focus {
    outline: none;
}

@media only screen and (max-width: 740px) {
    *{
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F5F5F5;
        flex-direction: row;
        gap: 15px;
        padding-top: 250px;
    }

    .button {
        background: #F5F5F5;
        width: 60px;
        height: 60px;
        border-radius: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 4px 4px 4px 0px #00000040, -4px -4px 4px 0px #FFFFFF;
        cursor: pointer;
    }
    .button:active {
        transform: scale(0.9);
    }
    .button img {
        transition: transform 0.8s ease;
    }
    .button.active img {
        transform: rotate(90deg);
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        background: #F5F5F5;
        width: 0px;
        height: 60px;
        overflow: hidden;
        border-radius: 62px;
        box-shadow: 4px 4px 4px 0px #00000040, -4px -4px 4px 0px #FFFFFF;
        box-sizing: border-box;
        color: #0000005C;
        font-family: Inter;
        font-weight: 400;
        font-size: 18px;
        transform-origin: left center;
        transition: width 0.4s ease, padding 0.3s ease;
    }
    .search.show {
        width: 260px;
        padding: 0 20px;
    }

    input {
        border: none;
    }
    input:focus {
        outline: none;
    }
}